/*index.css : application's global css file*/

#app{
    font-family: monospace;
    padding: 20px;
    background-color: #FFFFFF;


    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blink{
    color: rgba(0,0,0,0.5)
  }
  
  .clock-element{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #6022A6;
  border: 3px solid #391167;
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 100;
  }
  
  .time-element{
  position: absolute;
  width: 170px;
  height: 40px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2em;
  color: black;
  font-family: Arial, sans-serif;
  }
  
  .button{
    position: absolute;
    background-color: #EED05D;
    border-radius: 5px;
    border: 2px solid #756525;
    display : flex;
    justify-content: center;
    align-items : center;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    cursor: pointer;
    z-index: 2;
  }
  
  /* Buttons : mode, light, increase, reset, format*/
  .mode{
  top: -11px;
  left:50%;
  transform: translateX(127%) translateY(120%) rotate(45deg);
  clip-path: inset(0 0 60% 0);
  width: 40px;
  height: 25px;
  }
  
  .light{
    bottom: -11px;
    left: 50%;
    transform: translateX(-220%) translateY(-105%) rotate(43deg);
    clip-path: inset(60% 0 0 0);
    width: 40px;
    height: 25px;
  }
  
  .increase{
    right: -11px;
    top: 50%;
    transform: translateX(-127%) translateY(130%) rotate(49deg);
    clip-path: inset(0 0 0 60%);
    width: 25px;
    height: 40px;
  }
  
  .reset{
    left: -11px;
    top: 50%;
    transform: translateX(93%) translateY(-210%) rotate(41deg);
    clip-path: inset(0 60% 0 0);
    width: 25px;
    height: 40px;
    background-color: #16A970;
    border: 2px solid #186447;
  }
  
  .close{
    cursor: pointer;
    position : absolute;
    margin: 0px;
    top : 10px;
    right: 10px;
  }

  .format{
    cursor: pointer;
    position : absolute;
    margin: 0px;
    right: -11px;
    top: 50%;
    transform: translateY(-40%) rotate(1deg);
    clip-path: inset(0 0 0 60%);
    width: 25px;
    height: 40px;
    background-color: #16A970;
    border: 2px solid #186447;
  }
  
  .button-label{
  position : absolute;
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  color: #000;
  
  }
  
  .mode-label{
    top: 5px;
    left: 90%;
  }
  
  .light-label{
    bottom: 5px;
    right: 90%;

  }
  
  .increase-label{
    bottom: 5px;
    left: 90%;
 
  }
  
  .reset-label {
    top: 5px;
    right: 90%;
  }

  .format-label {
    top: 48%;
    left: 110%;
    white-space: nowrap;
  }
  
  .clock-container{
    display: inline-block;
    position: relative;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5% 5% 5% 5%;
    width: 280px;
  }
  

  .format-element, .timezone-element{
    margin-left: .3em;
    margin-top: 1em;
    font-size: xx-small;
  }


  .clock-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 1em;
  }

  .add-clock-container{
    display: flex;
    flex-direction: row;
    padding: .5em;
    width: 280px;
    justify-content: space-between;
  }